/*RESET CSS*/
html, body, h1, h2, h3, ul, li, dl, dt, dd, p{padding:0px; margin:0px;}
ul,ol {list-style:none;}
a {text-decoration:none;}

/* font */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

/* default */
html, body, .container, .main, .notice, .type, .type_cover, .cover button, .type_store, .type_store > *, .type_infor, .store, .phone {
    width: 100%;
    height: 100%;
}
.pop_up_menu, .footer, .menu, .copyright, .footer_link, .notice, .type, .store, .phone, .menu_infor {display: none;}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

/*header*/
.header {
    position: fixed;
    height: 70px;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 100;
}
.header .logo {
    position: fixed;
    height: 70px;
    width: 230px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 0 0 25px 25px;
    background: #456200;
    overflow: hidden;
    z-index: 100;
}
.header .logo .home_link {
    display: block;
    padding: 11px;
}
.header .logo .home_link img {
    height: 40px;
}
.header .nav {
    position: absolute;
    width:50px;
    height: 60px;
    left: 10%;
    border-radius: 0 0 25px 25px;
    background: #456200;
}
.header .nav .menu_bar {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background: url(../img/menu_icon.png) no-repeat center;
    border: 0;
    outline: 0;
    cursor: pointer;
    z-index: 100;
}
.header .nav .pop_up_menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 100px;
    left: 0;
    padding-top: 70px;
    background:#456200;
}
.header .nav .pop_up_menu .menu {
    width: 100%;
    height: 100%;
}
.header .nav .pop_up_menu .menu .menu_item {
    width: 50%;
    height: 15%;
    margin: 2% auto;
}
.header .nav .pop_up_menu .menu #nav_home{
    background: url(../img/menubar_img_1.jpg) 50%;
    background-size: cover;
    margin-top: 0;
}
.header .nav .pop_up_menu .menu #nav_notice{
    background: url(../img/menubar_img_2.jpg) 50%;
    background-size: cover;
    margin-top: 0;
}
.header .nav .pop_up_menu .menu #nav_type{
    background: url(../img/menubar_img_3.jpg) 50%;
    background-size: cover;
    margin-top: 0;
}
.header .nav .pop_up_menu .menu #nav_store{
    background: url(../img/menubar_img_4.jpg) 50%;
    background-size: cover;
    margin-top: 0;
}
.header .nav .pop_up_menu .menu #nav_phone{
    background: url(../img/menubar_img_5.jpg) 50%;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
}
.header .nav .pop_up_menu .menu .menu_item button{
    width: 100%;
    height: 100%;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Nanum Gothic', sans-serif;
    color: #fff;
    background: rgba(0,0,0,0.5);
    outline: 0;
    cursor: pointer;
}
.header .nav .pop_up_menu .menu .menu_item button:hover{
    background: rgba(0,0,0,0.8);
}
.container {
    overflow: hidden;
}
/*main*/
.main {
    background: url(../img/main_background.jpg);
    background-size: cover;
    overflow: hidden;
}
.main .carousel {
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main .carousel .carousel-cell {
    width: 100%;
    height: 500px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
}
.main .carousel .carousel-cell:nth-child(1){
    background: url(../img/main_img_1.jpg) no-repeat 50%;
    background-size: contain;
}
.main .carousel .carousel-cell:nth-child(2){
    background: url(../img/main_img_2.jpg) no-repeat 50%;
    background-size: contain;
}
.main .carousel .carousel-cell:nth-child(3){
    background: url(../img/main_img_3.jpg) no-repeat 50%;
    background-size: contain;
}
.main .carousel .carousel-cell:nth-child(4){
    background: url(../img/main_img_4.jpg) no-repeat 50%;
    background-size: contain;
}
.main .carousel .carousel-cell:nth-child(5){
    background: url(../img/main_img_5.jpg) no-repeat 50%;
    background-size: contain;
}
.main .carousel .carousel-cell button {
    position: relative;
    width: 150px;
    height: 50px;
    top: 50%;
    left: 75%;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #fff;
    background: #333;
    cursor: pointer;
    border: 0;
    outline: 0;
}
.main .carousel .carousel-cell button:hover {
    background: #456200;
}
/*notice*/
.notice {
    background: #ece6cc;
    text-align: center;
    overflow: hidden;
}
.notice .screen {
    position: relative;
    height: 65%;
    padding-top: 100px;
    margin: 0 auto;
}
.notice .screen .notice_detail {
    display: none;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;
}
.notice .screen .notice_detail:first-child {
    display: block;
}
.notice .screen .notice_detail img {
    width: 100%;
}
.notice .notice_area{
    position: relative;
    width: 70%;
    height: 150px;
    margin: 10px auto 0 auto;
    overflow: auto;
}
.notice .notice_area .notice_content {
    width: 100%;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    background: #fff;
    cursor: pointer;
}
.notice .notice_area .notice_content:first-child {
    background: #dad5bb;
}
.notice .notice_area .notice_content:after {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
}
.notice .notice_area .notice_content .notice_item {
    float: left;
    margin-top: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    border-left: 2px solid #ece6cc;
    box-sizing: border-box;
}
.notice .notice_area .notice_content .number {
    width:10%;
    border-left: none;
}
.notice .notice_area .notice_content .information {
    width: 75%;
}
.notice .notice_area .notice_content .date {
    width: 15%;
}

/*type*/
.type {
    color: #fff;
    text-align: center;
    overflow: hidden;
    font-family: 'Nanum Gothic', sans-serif;
}
.type .type_cover {
    position: fixed;
    z-index: 50;
}
.type .type_cover:after {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
}
.type .type_cover .cover {
    float: left;
    width: 25%;
    height: 100%;
}
.type .type_cover .cover button {
    outline: 0;
    cursor: pointer;
    text-indent:-10000px
}
.type .type_cover .classic_cover button {
    background: url("../img/type_classic.png") no-repeat 50% 40%;
}
.type .type_cover .w_cover button{
    background: url("../img/type_w.png") no-repeat 50% 40%;
}
.type .type_cover .a_lab_cover button{
    background: url("../img/type_a_lab.png") no-repeat 50% 40%;
}
.type .type_cover .queens_cover button{
    background: url("../img/type_queens.png") no-repeat 50% 40%;
}
.type .type_store .classic {
    background: #687f2f;
}
.type .type_store .w {
    background: #888;
}
.type .type_store .a_lab {
    background: #dedede;
}
.type .type_store .queens {
    background: #000;
}
.type .type_store > * .type_infor > * {
    float: left;
    width: 50%;
    height: 100%;
    padding-top: 100px;
}
.type .type_store > * .type_infor:after {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
}
.type .type_store > * .type_infor .type_menu > button {
    display: block;
    width: 35px;
    height: 30px;
    margin-left: 10%;
    background: url("../img/arrow.png") no-repeat;
    border: 0;
    outline: 0;
    cursor: pointer;
    text-indent:-10000px
}
.type .type_store > * .type_infor .type_menu .type_menu_list{
    width: 100%;
    height: 40%;
}
.type .type_store > * .type_infor .type_menu .type_menu_list .type_menu_name {
    margin-bottom: 20px;
    font-size: 28px;
}
.type .type_store > * .type_infor .type_menu .type_menu_list .type_menu_item > button{
    margin-bottom: 5px;
    font-size: 22px;
    color: #fff;
    background: none;
    outline: 0;
    cursor: pointer;
}
.type .type_store > * .type_infor .type_menu .type_menu_list .type_menu_item > button:hover{
    background: rgba(0,0,0,0.5);
}
.type .type_store > * .type_infor .type_menu:after {
    display: block;
    width: 90%;
    height: 60%;
    margin: 0 auto;
    content: "";
}
.type .type_store .classic .type_infor .type_menu:after {
    background: url("../img/type_classic_img_1.jpg") no-repeat;
    background-size: contain;
}
.type .type_store .w .type_infor .type_menu:after {
    background: url("../img/type_w_img_1.jpg") no-repeat;
    background-size: contain;
}
.type .type_store .a_lab .type_infor .type_menu:after {
    background: url("../img/type_a_lab_img_1.jpg") no-repeat;
    background-size: contain;
}
.type .type_store .queens .type_infor .type_menu:after {
    background: url("../img/type_queens_img_1.jpg") no-repeat;
    background-size: contain;
}
.type .type_store > * .type_infor .type_price img {
    width: 90%;
}
.type .type_store > * .type_infor .type_price .type_price_client {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}
.type .type_store > * .menu_infor {
    position: fixed;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    background: rgba(0,0,0,0.7);
    z-index: 50;
}
.type .type_store > * .menu_infor:after {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
}
.type .type_store > * .menu_infor .menu_list, .type .type_store > * .menu_infor .menu_content {
    float: left;
    height: 100%;
    padding-top: 50px;
}
.type .type_store > * .menu_infor .menu_list {
    width: 35%;
}
.type .type_store > * .menu_infor .menu_content {
    width: 65%;
}
.type .type_store > * .menu_infor .menu_list > button {
    display: block;
    width: 35px;
    height: 30px;
    margin-left: 10%;
    background: url("../img/arrow.png") no-repeat;
    border: 0;
    outline: 0;
    cursor: pointer;
    text-indent:-10000px
}
.type .type_store > * .menu_infor .menu_list .detail_menu_list .detail_menu_name{
    padding-top: 50px;
    margin-bottom: 20px;
    font-size: 32px;
}
.type .type_store > * .menu_infor .menu_list .detail_menu_list .detail_menu_item > button {
    margin-bottom: 5px;
    font-size: 26px;
    color: #fff;
    background: none;
    outline: 0;
    cursor: pointer;
}
.type .type_store > * .menu_infor .menu_content .menu_detail img {
    width: 80%;
}
.type .type_store > * .menu_infor .menu_content .menu_detail .menu_detail_content {
    padding-top: 50px;
    font-size: 24px;
}
.type .type_store .a_lab *, .type .type_store .a_lab .type_infor .type_menu .type_menu_list .type_menu_item > button{
    color: #000;
}
.type .type_store .a_lab .menu_infor img {
    height: 100%;
}

/*store*/
.store {
    overflow: hidden;
}
.store #map {
    width: 100%;
    height: 100%;
    background-color: grey;
}
.store .store_btn_area {
    position: fixed;
    width: 250px;
    top: 100px;
    right: 0;
    z-index: 50;
}
.store .store_btn_area .store_btn button {
    position: relative;
    width: 250px;
    height: 50px;
    right: -50px;
    margin-top: 20px;
    border-radius: 25px 0 0 25px;
    background: #456200;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 24px;
    color: #ece6cc;
    outline: 0;
    cursor: pointer;
}

/*phone*/
.phone {
    background: url(../img/menubar_img_4.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}
.phone .phone_area {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.phone .phone_area .table_area{
    margin: 10px auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    background: #ece6cc;
    opacity: 0.8;
}
.phone .phone_area .table_area .table_content{
    padding: 5px;
}
.phone .phone_area .table_area .call_classic_img:before {
    display: inline-block;
    width: 230px;
    height: 100px;
    content: "";
    background: url("../img/type_classic.png") center;
}
.phone .phone_area .table_area .call_w_img:before {
    display: inline-block;
    width: 230px;
    height: 100px;
    content: "";
    background: url("../img/type_w.png") center;
}
.phone .phone_area .table_area .call_a_lab_img:before{
    display: inline-block;
    width: 230px;
    height: 100px;
    content: "";
    background: url("../img/type_a_lab.png") center;
}
.phone .phone_area .table_area .call_queens_img:before {
    display: inline-block;
    width: 230px;
    height: 100px;
    content: "";
    background: url("../img/type_queens.png") center;
}
.phone .phone_area .table_area .call_time{
    vertical-align: top;
}

/*footer*/
.footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px 0 0 0;
    background: #456200;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    z-index: 100;
}
.footer:after {
    display: inline-block;
    width: 0;
    height: 90px;
    content: "";
}
.footer .copyright{
    float: left;
    width: 60%;
    height: 90px;
    padding-left: 5%;
    color: #ece6cc;
}
.footer .copyright .small{
    font-size: 10px;
}
.footer .footer_link {
    float: left;
    width: 35%;
    height: 90px;
}
.footer .footer_link .sns:after {
    display: inline-block;
    width: 0;
    height: 45px;
    content: "";
}
.footer .footer_link .sns .sns_link {
    float: left;
    display: block;
}
.footer .footer_link .sns .sns_link img {
    height: 40px;
    margin-right: 10px;
}
.footer .footer_link .utily_area {
    display: block;
}
.footer .footer_link .utily_area:after {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
}
.footer .footer_link .utily_area .utily_item{
    float: left;
    padding: 0 10px;
    border-right: 1px solid white;
}
.footer .footer_link .utily_area .utily_item:first-child{
    padding-left: 0;
}
.footer .footer_link .utily_area .utily_item:last-child{
    border: 0;
}
.footer .footer_link .utily_area .utily_item .utily_link{
    color: #fff;
}